@page "/reported-posts"

<h3>Reported Posts</h3>

@if (reportedPosts == null)
{
    <p><em>Loading...</em></p>
}
else if (!reportedPosts.Any())
{
    <p>No reported posts were found.</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Content</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Comments</th>
            <th>Votes</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var post in reportedPosts)
        {
            <tr>
                <td>@post.Id</td>
                <td>@post.Title</td>
                <td>@post.Content</td>
                <td>@(post.Author?.Email ?? "Unknown")</td>
                <td>@post.CreatedAt.ToString()</td>
                <td>@post.Comments?.Count</td>
                <td>@post.Votes?.Count</td>
            </tr>
        }
        </tbody>
    </table>
}
